.titleStyle {
  color: blueviolet;
  font-size: 50px;
  text-align: center;
}

.titleDiasable {
  composes: titleStyle;
  color: red;
}

.imgStyle {
  max-width: 100%;
  display: block;
  height: auto;
}
